<div class="jumbotron mt-4">
    <h1 class="display-4">Lubricantes El Resbalon</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at ea in libero ad mollitia nemo, delectus natus fugiat ut voluptatibus tempora nostrum autem quod deserunt laboriosam aspernatur neque voluptatum!</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident officiis voluptatum porro commodi asperiores explicabo expedita in iusto nisi, deserunt nam, consectetur veritatis inventore consequuntur possimus, optio officia doloremque veniam.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Buscar</a>
</div>